<html>
  <head>
    <title>Reminderer</title>
    <link rel="stylesheet" type="text/css" href="vues.css" />
  </head>
  <body>
    <div id="titlediv"><h1>Reminderer</h1></div>
    <div id="reminderapp">
      <div class="settingsbar">
        <button class="settinbutton" v-on:click="whichForm = true">
          Count Down
        </button>
        <button class="settinbutton" v-on:click="whichForm = false">
          Timer
        </button>
      </div>
      <div id="reminderInput">
        <form v-on:submit.prevent="addCountdownReminder" v-show="whichForm">
          <label for="countdownReminderName">Reminder name</label>
          <input
            v-model="countdownReminderName"
            type="text"
            id="new-reminder"
            placeholder="Name"
            required
          />
          <label for="countdownReminderDescription">Reminder Description</label>
          <input
            v-model="countdownReminderDescription"
            type="text"
            id="new-description"
            placeholder="Description"
          />
          <label for="countdownReminderTime">Time</label>
          <input
            v-model="countdownReminderTime"
            type="number"
            id="new-timer"
            min="1"
            required
          />
          <button id="addbutton">Add</button>
        </form>

        <form v-on:submit.prevent="addTimer" v-show="!whichForm">
          <label>Reminder name</label>
          <input
            v-model="timerName"
            type="text"
            id="new-reminder"
            placeholder="Timer Name"
            required
          />
          <button id="addbutton">Add</button>
        </form>
      </div>
      <div id="grid">
        <div id="countdownComponent">
          <h1 class="componentTitles">Countdowns</h1>
          <ul>
            <li
              v-for="item,index in countdownItems"
              class="reminder"
              v-bind:id="&quot;reminder_&quot;+item.Id"
            >
              {{ item.Id }}<br /><span class="title">{{
                item.countdownTitle
              }}</span
              ><br />
              <span>{{ item.countdownDescription }}</span
              ><br />
              <span class="time">Timer set to:{{ item.countdownTime }} min</span
              ><br />
              <span class="counter"
                >Counter:{{ item.countdownCounter }} sec</span
              ><br />
              <span class="minCounter"
                >{{ item.countdownMinCounter }} mins</span
              >
              <span>{{ item.countdownSecCounter }} seconds</span><br />
              <button
                class="close"
                v-on:click="removeCountdownReminder(index, item)"
              >
                remove
              </button>
            </li>
          </ul>
        </div>
        <div id="timerComponent">
          <h1 class="componentTitles">Timers</h1>
          <ul>
            <li
              v-for="item,index in timerItems"
              class="timerReminder"
              v-bind:id="&quot;timerReminder_&quot;+item.Id"
            >
              {{ item.Id }}<br /><span class="title">{{ item.timerTitle }}</span
              ><br />
              <span class="counter">Counter:{{ item.timerCounter }} sec</span
              ><br />
              <span class="minCounter">{{ item.timerMinCounter }} mins</span>
              <span>{{ item.timerSecCounter }} seconds</span><br />
              <button class="close" v-on:click="removeTimer(index, item)">
                remove
              </button>
            </li>
          </ul>
        </div>
        <div id="finishedComponent">
          <h1 class="componentTitles">Finished</h1>
          <!--<ul>
            <li></li>
          </ul>-->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
